@import "tailwindcss";

@theme {
  --color-canvas: #F4F4EC;
  --color-canvas-dark: #E2E2D5;
  --color-primary: #3D405B;
  --color-secondary: #1F2937;
  --color-accent: #E07A5F;
  --color-border: #E2E2D5;

  /* Fonts */
  --font-heading: var(--font-space-grotesk);
  --font-body: var(--font-manrope);

  /* Backgrounds */
  --image-blueprint: linear-gradient(#E2E2D5 1px, transparent 1px), linear-gradient(90deg, #E2E2D5 1px, transparent 1px);
}

:root {
  --background: #F4F4EC;
  --foreground: #1F2937;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

body {
  background-color: var(--color-canvas);
  color: var(--color-secondary);
  font-family: var(--font-body);
  /* Blueprint Grid Background */
  background-size: 40px 40px;
  background-image: var(--image-blueprint);
}

/* Custom Scrollbar for 'Locomotive' feel if native */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F4F4EC;
}

::-webkit-scrollbar-thumb {
  background: #E07A5F;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3D405B;
}

/* Text Selection Color */
::selection {
  background: #E07A5F; /* Changed color to background for selection */
  color: white;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1280px;
}

/* Force hide default cursor on desktops */
@media (hover: hover) and (pointer: fine) {

  *,
  *::before,
  *::after {
    cursor: none !important;
  }
}